{% extends 'news/base.html' %}

{% block content %}
	{% for post in posts %}
	    <div class="post">
	    	<div class="date">
                <p>published date: {{ post.published_date }}</p>
                <p>author: {{ post.author }}</p>
	    	</div>
	        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            {% if post.image %}
                <img src="{{ post.image.url }}" height="{{ post.image_height }}" width="{{ post.image_width}}"/>
            {% endif %}
            <p>{{ post.text|truncatewords:50 }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">plus</a>
	    </div>
        <hr />
	{% endfor %}   
{% endblock %}
